header
  h1 Nathan Vasquez
  h4 Front & Back-end Developer
  nav
    ul
      li: i.fa.fa-github-square.fa-3x
      li: i.fa.fa-twitter-square.fa-3x
      li: i.fa.fa-facebook-square.fa-3x
.row
  .col-xs-4
    .thumbnail
      img(ng-src='/public/assets/nathan.jpg', fade-in='display')
  .col-xs-6
    p Hello everybody, my name is Nathan and I'm eager to launch my career as a software developer.
    .row
      .col-xs-4
        ul.list-group
          li.list-group-item The MEAN Stack
          li.list-group-item Phaser!
          li.list-group-item HTML5/css/js
    .row
      .col-xs-1
      .col-xs-8
        h1 GAMES
        .panel.panel-default
          .panel-heading
            .panel-title
              h4 STAR-DUDE
            .panel-body
              .row
                .col-xs-4
                  .thumbnail
                    a(href='http://superartie.github.io/star-dude'): img(src='public/assets/star-dude.png')
                    a(href='http://github.com/superartie/star-dude') gitHub repo!
                .col-xs-8
                  p STAR-DUDE is my arcade-action game, made with the Phaser framework! I had a blast coding this game as it involved a lot of creative aspects. Coding-wise there was a lot of great logic-puzzles to solve. I grew up playing games and now I'm coding them!!!
        h1 APPS
        .panel.panel-default
          .panel-heading
            .panel-title
              h4 COLLECTIVIST
            .panel-body
              .row
                .col-xs-4
                  .thumbnail
                    a(href='http://collectivist.deluxin.com'): img(src='public/assets/coll.jpg')
                    a(href='http://github.com/superartie/collectivist-app') gitHub repo!
                .col-xs-8
                  p COLLECTIVIST is an angular survey app which helps you gauge how well you think what the rest of the world thinks!!!
        .panel.panel-default
          .panel-heading
            .panel-title
              h4 DIBSTR
            .panel-body
              .row
                .col-xs-4
                  .thumbnail
                    a(href='http://dibstr.deluxin.com'): img(src='public/assets/dib.jpg')
                    a(href='http://github.com/superartie/dibster') gitHub repo!
                .col-xs-8
                  p DIBSTR is an app that let's you find people near you to trade to objects with!!!
