.row
  .col-xs-6
    h1.page-header {{title}}
.row
  .col-xs-4
    .thumbnail
      img(src='/public/assets/nathan.jpg')
  .col-xs-6
    p Hello everybody, my name is Nathan and I'm eager to launch my career as a software developer.
    ul
      li The MEAN Stack
      li Phaser!
      li HTML5/css/js
