.row
  .col-xs-6
    h1.page-header {{title}}
.row
  .col-xs-4
    .thumbnail
      img(src='/public/assets/nathan.jpg')
  .col-xs-6
    p Hello everybody, my name is Nathan and I'm eager to launch my career as a software developer.
    .row
      .col-xs-3
        ul.list-group
          li.list-group-item The MEAN Stack
          li.list-group-item Phaser!
          li.list-group-item HTML5/css/js
