.row
  .col-xs-6
    h1.page-header {{title}}
.row
  .col-xs-4
    .thumbnail
      img(src='/public/assets/nathan.jpg')
  .col-xs-6
    p Hello everybody, my name is Nathan and I'm eager to launch my career as a software developer.
    .row
      .col-xs-4
        ul.list-group
          li.list-group-item The MEAN Stack
          li.list-group-item Phaser!
          li.list-group-item HTML5/css/js
    .row
      .col-xs-1
      .col-xs-8
        h1 GAMES
        .panel.panel-default
          .panel-heading
            .panel-title
              h4 STAR-DUDE
            .panel-body
              .row
                .col-xs-4
                  .thumbnail
                    a(href='http://superartie.github.io/star-dude'): img(src='public/assets/star-dude.png')
                    a(href='http://github.com/superartie/star-dude') gitHub repo!
                    //br
                    //a(href='http://superartie.github.io/star-dude') Play STAR-DUDE!
                .col-xs-8
                  p STAR-DUDE is my arcade-action game, made with the Phaser framework! I had a blast coding this game as it involved a lot of creative aspects. Coding-wise there was a lot of great logic-puzzles to solve. I grew up playing games and now I'm coding them!!!
