doctype html
html
  head
    meta(charset='utf-8')
    title Portfolio
    link(href='/public/css/style.css', rel='stylesheet')
  body
    #container
      h1 Yo yo yo!!!
      h2 This is my portfolio.
